<div class="code-block-container">
	<div class="code-header">
		<span *ngIf="fileName" class="file-name">{{ fileName }}</span>
		<div class="header-buttons">
			<button
					(click)="copyCode()"
					class="header-btn copy-btn"
					title="Copy code">
				<ng-icon name="matContentCopy" size="16"></ng-icon>
			</button>
			<button
					(click)="toggleWrap()"
					[class.active]="wrapLines"
					[title]="wrapLines ? 'Switch to horizontal scroll' : 'Wrap long lines'"
					class="header-btn wrap-toggle-btn">
				<ng-icon name="matWrapText" size="16"></ng-icon>
			</button>
		</div>
	</div>
	<pre [class.wrap-lines]="wrapLines"><code
			[highlight]="code"
			[language]="language"
			lineNumbers>
  </code></pre>
</div>