<h1 class="page-header">My Projects</h1>

<p style="margin-bottom: 50px">
	Here you can find some of my Projects.<br>
	I've labeled them with a difficulty level, not to indicate how hard they are, but how advanced my skills were at the time of the project.<br>
	To get an idea, something made before any formal education is labeled as "Beginner", now that I study computer science, I label my projects as "Intermediate".
	And I dont know when I will consider myself "advanced" or "professional" or something like that.
	The first Project would probably be the first where I'm not done in like a week or so.<br>
	Also there is one project missing: This website. Made using Angular, but without a backend, so I can host it for free on GitHub Pages.
</p>

<div class="card-container">
	@for (this_project of PROJECTS; track this_project) {
		<app-project-card [project]="this_project"></app-project-card>
	}
</div>
