<h1>Telegram bot</h1>
<p>
	This is a learning project and is a combination of multiple things I wanted to try
</p>
<ul>
	<li>Writing a Chatbot</li>
	<li>Containerizing a something (this was pre-university, so I din't know anything about it.</li>
	<li>Writing my own DevOps pipeline</li>
</ul>

<h2>Writing a Chatbot</h2>

<p>
	The first thing to consider is what platform to use.
	My first Ideas were Discord and WhatsApp, but Discord wont send push notifications on time, and for WhatsApp,
	it's super hard / costly to get a bot account since this is made for businesses.<br>
	Some research later I had a Telegram account and was chatting BotFather.
</p>
<p>
	A quick look at what languages have libraries for the Telegram Bot API and I chose my weapon for this project: Go.
</p>

<app-image-content-layout
		imageAlt="Chat with uptime command"
		imageBackgroundColor="#f0f0f0"
		imageHeight="auto"
		imagePosition="right"
		imageSrc="/projects/telegram-bot/cmd-uptime.png"
		ratio="2img-1text">
	<p>
		The bot itself is rather simple. It can echo, and print help messages like normal.
		Additionally it can print some debug information like the current time and the uptime of the bot and the server.
	</p>
</app-image-content-layout>

<app-image-content-layout
		imageAlt="Chat with ip command"
		imageBackgroundColor="#f0f0f0"
		imageHeight="auto"
		imagePosition="left"
		imageSrc="/projects/telegram-bot/cmd-ip.png"
		ratio="1img-2text">
	<p>
		The first really useful command was a ping. This was a simple method of checking if a device in my home network is on, as long as I have the IP address.<br>
		Some time later I added some more functionality some using external APIs or web scraping.<br>
		The idea of APIs came with an IP Lookup. Also very simple, using a free API to get the location of an IP address.
	</p>
</app-image-content-layout>

<app-image-content-layout
		imageAlt="Chat with mensa command"
		imageBackgroundColor="#f0f0f0"
		imageHeight="auto"
		imagePosition="right"
		imageSrc="/projects/telegram-bot/cmd-mensa.png"
		ratio="1img-2text">
	<p>
		The best one can send you this week's canteen menu from my university, which is a simple web scraping task.
		You can choose if you want the full week or a single day, or get the current day by default.<br>
		Im using this basically on a daily basis, as you have to type much into google to find the correct page.
	</p>
</app-image-content-layout>


<h2>Containerizing a something</h2>
<p>
	Not having worked with containerization before, this was quite a challenge to figure out.<br>
	Starting with the GO example and some documentation, I got it running eventually.<br>
	Using a docker compose file, I've got a working zero-downtime deployment.
</p>

<h2>Writing my own DevOps pipeline</h2>

<p>
	This was kind of my main goal.<br>
	A solution that "just works" and is free and easy to use. My choice was Bash (and cron).<br>
	<br>
	The following job is run every minute:
</p>

<app-code-block 
	[code]="'* * * * * sh /home/raspi/go-telegram-bot/deployment/cronjob.sh'" 
	language="txt" 
	fileName="cronjob configuration">
</app-code-block>

<app-code-block 
	[code]="(codeUrlCronjob | codeFromUrl | async) || ''" 
	language="sh" 
	fileName="cronjob.sh">
</app-code-block>

<p>
	What this script mostly does, is making sure the deployment is not happening multiple times in parallel, as this can lead to weird states and issues.<br>
	This is done via a lock file, which is created at the start of the script and deleted at the end.<br>
	<br>
	Then this script will run the update script:
</p>

<app-code-block 
	[code]="(codeUrlCheckUpdates | codeFromUrl | async) || ''" 
	language="sh" 
	fileName="check-updates.sh">
</app-code-block>

<p>
	(Sorry for the weird highlighting issues)<br>
	This script will compare the latest commit on the main branch of the repository with the current commit of the deployment.<br>
	If the commits are the same, there is nothing to do, if the remote one is different, it will pull the changes and run the deploy script.<br>
	When there are local changes, it will stash them and pull the changes, then run the deploy script.<br>
	For diverged branches, it will just print an error message and exit.<br>
	<br>
	Because I wanted to use Docker, the deploy script couldn't be simpler than this:
</p>

<app-code-block 
	[code]="(codeUrlDeploy | codeFromUrl | async) || ''" 
	language="sh" 
	fileName="deploy.sh">
</app-code-block>

<p>
	Just building the new image and starting a container with the new image. When the new container is running, the old one will be stopped and removed.<br>
	Also, the old image will be removed to save space.
</p>

<div class="footer-section">
	<p>Cheers!</p>
</div>