@use "@angular/material" as mat;


@mixin theme($theme) {
  nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: mat.get-theme-color($theme, primary);
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    box-sizing: border-box;

    .docs-navbar, .docs-navbar-header {
      background: mat.get-theme-color($theme, primary-container);

      .docs-navbar-header-item-selected {
        background: rgba(mat.get-theme-color($theme, primary), 0.1);
      }
    }
  }
}
