<div class="layout-container" [ngClass]="containerClasses">
  <!-- Single layout that works for both desktop and mobile -->
  <div class="image-section" [ngClass]="imageSectionClasses">
    <app-image-wrapper
        [src]="imageSrc"
        [alt]="imageAlt"
        [width]="'100%'"
        [height]="imageHeight"
        [objectFit]="imageObjectFit"
        [imageClass]="imageClass">
    </app-image-wrapper>
  </div>
  
  <div class="content-section" [ngClass]="contentSectionClasses">
    <div class="content-wrapper">
      <!-- This should work for content projection -->
      <ng-content></ng-content>
    </div>
  </div>
</div>